# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized
# and converted to native line endings on checkout.
*.txt text diff=text
/android/cts/master/vk-master.txt filter=lfs diff=lfs merge=lfs -text
/external/vulkancts/mustpass/master/vk-default.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/vk-master-2022-03-01/pipeline.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/vksc-main/pipeline.txt filter=lfs diff=lfs merge=lfs -text
/external/vulkancts/mustpass/main/vksc-default/pipeline.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/vk-master-2023-03-01/pipeline.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/src/vk-master-2023-03-01.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/vk-main-2023-03-01/pipeline.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/vk-main-2022-03-01/pipeline.txt filter=lfs diff=lfs merge=lfs -text
/android/cts/main/src/vk-main-2024-03-01.txt filter=lfs diff=lfs merge=lfs -text
